body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #f857a6, #ff5858);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
  border-radius: 4px;
}
#title {
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 1rem;
  padding: 0rem;
}
p {
  margin: 0rem 0rem 0rem 1.2rem;
  padding: 0rem;
}
input {
  display: flex;
  align-self: stretch;
  margin: 0.5rem 1rem 0rem 1rem;
  padding: 0.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid #eee;
}
ol {
  display: flex;
  align-items: baseline;
  margin: 0rem;
}
.complete {
  display: inline-block;
  padding: 2px;
}
.complete-btn {
  background-color: white;
  color: #ff69b4;
  border: 1px solid #ff69b4;
  border-radius: 3px;
  padding: 0px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.complete-btn:hover {
  background-color: #ff1493;
  color: white;
  border: none;
}
.task {
  display: inline;
  margin: 0rem;
}

.delete {
  position: absolute;
  right: 20vw;
}
.delete-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.delete-btn:hover {
  background-color: #ff0000;
  color: white;
  border-radius: 3px;
}
.add-btn {
  display: flex;
  align-self: stretch;
  justify-content: center;
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 0.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 3px;
  border: none;
  background-color: #ff1493;
  color: #eee;
}
.add-btn:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
